---
Checks: '-*,
clang-diagnostic-*,
-clang-diagnostic-format,
-clang-diagnostic-format-security,
-clang-diagnostic-implicit-function-declaration,
-clang-diagnostic-interrupt-service-routine,
-clang-diagnostic-excessive-regsave,
clang-analyzer-*,
-clang-analyzer-valist.Uninitialized,
clang-analyzer-security.insecureAPI.strcpy,
-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
bugprone-*,
bugprone-macro-parentheses,
bugprone-too-small-loop-variable,
-bugprone-narrowing-conversions,
-bugprone-easily-swappable-parameters,
-bugprone-reserved-identifier,
cert-*,
-cert-dcl03-c,
-cert-dcl16-c,
-cert-dcl37-c,
-cert-dcl51-cpp,
-cert-err33-c,
-cert-dcl50-cpp,
misc-*,
-misc-unused-parameters,
-misc-unused-include,
-misc-no-recursion,
-misc-non-private-member-variables-in-classes,
performance-*,
-performance-no-int-to-ptr,
readability-*,
readability-duplicate-include,
readability-else-after-return,
readability-uppercase-literal-suffix,
-readability-function-cognitive-complexity,
-readability-identifier-length,
-readability-isolate-declaration,
-readability-magic-numbers,
-readability-suspicious-call-argument,
'
