/.vscode

OVMF_CODE.fd
OVMF_VARS.fd

/x86_64-elf

/build
/mnt
/storage_mnt
disk.img
storage.img

/libs/*/*.o

/userland/*/*

!/userland/*/*.c
!/userland/*/*.h
!/userland/*/*.cpp
!/userland/*/*.hpp

!/userland/*/*/
/userland/*/*/*
!/userland/*/*/*.cpp
